@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

.header-container {
    background-color: white;
    padding: 1em 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 70em;
    margin: 0 auto;
    padding: 0 3em;
}

.header .logo img {
    width: 15em;
    height: auto;
}

.header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
}

a {
    color: black;
    text-decoration: none;
}

a.active {
    color: rgb(105, 46, 200);
}

button {
    cursor: pointer;
    border: 0.1em solid rgb(105, 46, 200);
    background-color: white;
    height: 3em;
    border-radius: 0.7em;
    font-weight: 500;
}

button a {
    color: rgb(105, 46, 200);
}

.contact-button {
    width: 10em;
}

@media screen and (max-width: 55em) {
    .header .logo img {
        width: 12em;
    }

    .header {
        flex-direction: column;
    }

    .header nav {
        flex-direction: column;
        padding: 2em 0;
    }
}
